.root {
	height: 100vh;
	margin: 0px 94px;
	font-family: Arial;
	text-align: center;
	@media screen and (max-width: 500px) {
		margin: 0px 40px;
	}
	.content {
		min-height: 90vh;
	}
}

body {
	min-width: 500px;
}
